Roboworks.Band.Tiles.PhilipsHue/SampleData/ConnectedViewSampleData/ConnectedViewSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.ConnectedViewSampleData" targetNamespace="Blend.SampleData.ConnectedViewSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConnectedViewSampleData" type="tns:ConnectedViewSampleData" />
  <xs:complexType name="ConnectedViewSampleData">
    <xs:sequence>
      <xs:element name="HueBridgeInfo" type="tns:HueBridgeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HueBridgeInfo">
    <xs:attribute name="Id" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>